<%= form_with(model: business, local: true, url: city_businesses_path) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :website %>
      <%= form.text_field :website, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label "Gift Card or Online Store URL" %>
      <%= form.text_field :gift_card_link, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>

  <%= form.hidden_field city_id: @city.id %>
<% end %>
