<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Address</th>
      <th>Gift card link</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.website %></td>
        <td><%= business.address %></td>
        <td><%= business.gift_card_link %></td>
        <td><%= business.city %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_city_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_city_business_path %>
