<p id="notice"><%= notice %></p>
<% @businesses.each do |business| %>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%=business.name%></h5>
        <h5 class="card-title"><%=business.address%></h5>

        <%= link_to  "Website" , business.website, class: "btn btn-info" %>
        <%= link_to  "Gift Card or Online Store" , business.gift_card_link, class: "btn btn-info" %>

      </div>
    </div>
  </div>
<% end %>

<%= link_to 'New Business', new_city_business_path %>
