<p id="notice"><%= notice %></p>

<style>
  section{
  position: relative;
  z-index: 1;
}


  section::before {
    background: url(<%=@city.image_url%>);
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  opacity: .5;
  }

  .title {
    padding-top: 200px;
    font-size: 100px;

  }
</style>

<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <center>
          <div>
            <h1 class='title'><%= @city.name %></h1>
          </div>
        </center>
      </div>
    </div>
  </div>
</section>
<div class="container">
<% if @city.businesses.length > 0 %>
<p id="notice"><%= notice %></p>
<%  @city.businesses.each do |business| %>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%=business.name%></h5>
        <h5 class="card-title"><%=business.address%></h5>

        <%= link_to  "Website" , business.website, class: "btn btn-info" %>
        <%= link_to  "Gift Card or Online Store" , business.gift_card_link, class: "btn btn-info" %>

      </div>
    </div>
  </div>
<% end %>

<% elsif %>
<h4>No Businesses for this city!</h4>
<% end %>
<%= link_to 'Add a Business!', new_city_business_path(city_id: @city.name), class: "btn btn-primary" %>
</div>
